body {
    color: #000;
    font-family: Georgia, serif;
}

#header-nav {
    background-color: #b8f1b6;
    border-radius: 5;
    border: 0;
}
.navbar-header{
    padding-top: 25px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-header navbar-default.
{ border: 1px solid #4e504f;}



