body {
    color: #000;
    font-family: Georgia, serif;
    background-color: rgb(208, 139, 59);
}

#header-nav {
    background-color: #b8f1b6;
    border-radius: 5;
    border: 0;
}
.navbar-header{
    padding-top: 25px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: #000;
    font-family: Georgia, serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p span {
    vertical-align: middle;
}

.navbar-header navbar-default.
{ border: 1px solid #4e504f;}



